<div class="pages aboutme">
    <p>I'm a hobby blacksmith in Redmond, WA. I forge small projects in my
      <a href="http://blog.abandonedfactory.net/wp-content/uploads/2016/06/2016-06-26-19.06.28-1.jpg">backyard shop</a>
      for fun.
      So far that's mostly limited to S-Hooks and kitchen knives, but if you're interested in
      commissioning some custom steelwork, I'd be happy to talk to you about it!</p>

    <p>I can: forge small projects, make knives up to about 12" overall length, and sharpen/polish existing knives or shears.
      Please <a href="mailto:abandonedforge@gmail.com">contact me</a> if you're interested in commissioning some work!</p>
</div>
