<% provide :title, 'About' %>
<div class="center jumbotron">
  <p>This website was constructed to host photos of my blacksmithing and knifemaking work.
    It's still a work in progress, so please pardon my dust.</p>

  <p>
    I'm working on creating a shopping cart for buying my premade stuff, or requesting custom commissions.
    It's not ready yet, but if you feel like it, go ahead and create an account.
  </p>
  <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
</div>


