<footer>
  <p>Howdy! Pardon my dust, the web site is still in progress! It unfortunately is a lower priority than actually working with steel, which is in turn a lower priority than my day job.</p>
  <p>Still, I'm capable of small forging projects, making knives, and blade sharpening/polishing. Please <a href="mailto:abandonedforge@gmail.com">contact me</a> if you're interested in commissioning something!</p>
</footer>