<div class="navbar">
  <span><%= link_to 'Portfolio', url_for({:controller => 'products', :action => 'index'}) %></span>
  <span><%= link_to 'About Me', url_for({:controller => 'pages', :action => 'show', :id => 'aboutme'}) %></span>
<% if logged_in? %>
  <span><%= link_to 'Logout', url_for({:controller => 'sessions', :action => 'destroy'}), method: :delete %></span>
<% else %>
  <span><%= link_to 'Login', url_for({:controller => 'sessions', :action => 'new'}) %></span>
<% end %>
</div>