<div class="navbar">
  <span><%= link_to 'Portfolio', url_for({:controller => 'products', :action => 'index'}) %></span>
  <span><%= link_to 'About Me', url_for({:controller => 'pages', :action => 'show', :id => 'aboutme'}) %></span>
</div>